
#wrapper{
    max-width: 1200px;
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

h1{
    float: left;
    font-size: 2em;
    color: rgb(172, 18, 157);
    border: solid 1px  rgb(172, 18, 157);
    padding: 1em;
    box-shadow: 2px 2px 2px  rgb(172, 18, 157);
}

h1 a{
    text-decoration: none;
}

body{
    margin: 0.5em;
    margin-top: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.4em;
}

p{
    margin-bottom: 1em;
    margin-top: 1em;
}


.topNav nav{
   display: none;
   clear: right; /*clears right float*/
   border: solid 1px #ccc;
   padding: 0.5em;
   text-align: center;
}
.topNav nav li{
    margin-bottom: 1em;
    border-bottom: solid 1px #ccc;
    padding: 0.5em;
}

#menu{
    float: right;
}

.programNav{
    clear: both;
}

.programNav a{ 
    display:block;
    padding:10px;
    border:solid 1px #ccc;
}

.dropdown{
    display:none;
}


.programNav a{ 
    background-color: rgb(238, 126, 227);
}

.dropdown a{
    background-color: rgb(250, 167, 225);
    color: #fff;
}


.programNav li:hover .dropdown{
    display:block;
}

.program-select{
    margin-bottom: 1em;
}
/* banner */ 

.banner{
    padding: 2em;
    padding-top: 3em;
    height: 200px;
    background: url("images/Banner.jpg") no-repeat center;
    background-size: cover;
}



.banner p{
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5em;
    padding: 1em;
}




.btn{
    display: block;
    width: 100px;
    background-color: rgb(151, 13, 13);
    padding: 0.5em;
    text-transform: uppercase;
    color: #fff;
    margin-top: 4em;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #000;
    margin-right: auto;
    margin-left: auto;
}

section{
    margin: 2em 0;
}


article{
    margin: 1em 0;
}


.flexImg{
    width: 100%;
}

.date{
    margin-top: 0.5em;
    
}

footer{
    font-size: smaller;
}

.programs a{
    text-decoration: none;
    color: #000;
}

.program-card img{
    width: 100%;
}

.program-card{
    box-shadow: 3px 3px 10px #ccc;
    padding-bottom: 1em;
}

.program-card p, .program-card h3, .program-card h4{
    margin: 1em;
}

h1,h2,h3, strong{
    font-weight: bold;
}

h2{
    text-transform: uppercase;
    color: rgb(191, 57, 151);
}

h4{
    color: rgb(213, 138, 205);
    margin-bottom: 0.5em;
}
h3{
    margin-bottom: 1em;
}

a{
    color: rgb(172, 18, 157);

}
nav a{
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
}

footer{
    margin-top: 1em;
}



@media (min-width: 768px){
    
    main{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 1em;
    }
    main.program-page{
        display: block;
    }
    .Flex-container{
        display: flex;
    }
    .program-select{
       width: 33%;
       position: relative;
    }
    .programs{ 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    main.program-page{
        display: block;
    }
    .dropdown{
        position: absolute;
        width: 100%;
    }
    .topNav nav{
        display: block;
    }
    #menu{
        display: none;
    }

    .topNav ul, .topNav li, .topNav form{
        display: inline;
        margin-left: 1em;
    }
    .topNav nav{
        border: none;
        float: right;
        margin-right: 0;
    }
    .programs{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }
    .program a{
        text-decoration: none;
        color: #333;
    }
    .program-card img{
        width: 100%;
    }
    .program-card{
        box-shadow: 3px 3px 10px;
    }
    .program-card p, .program-card h3, .program-card h4{
        margin: 1em;
    }
     
}

