

#wrapper{
    max-width: 1200px;
}

header{
    display: flex;
    justify-content: space-between;
}

.topNav nav{
   /* display: none;*/
   clear: right; /*clears right float*/
}

#menu{
    float: right;
}